
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #6f2232;
    padding: 30px 0;
}

.wrapper .sidebar h3{
    color: whitesmoke;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.wrapper .sidebar ul li a  {
    display: block;
    font-style: oblique;
    color: antiquewhite;
}

.wrapper .sidebar ul li:hover{
    background: #998b91;
}

.wrapper .sidebar select{
    width: 100%;
    background: #1a1a1d;
    height: 100%;
    display: block;
    color: white;
    position: relative;
}

.wrapper .audioplayer{
    width: 100%;
    margin-left: 200px;
    background: #4e4e50;
    position: fixed;
    height: 100%;
}

.wrapper .audioplayer div > h2{
    color: whitesmoke;
    margin-left: 500px;
    text-decoration: none;
    margin-top: 100px;
}
.wrapper .audioplayer div > img{
        margin-left: 500px;
        margin-top: 10px;
        height: 200px;
        width: 200px;
}

.wrapper .audioplayer div > form >input{
    margin-top: 130px;
    background: #1a1a1d;
    width: 1000px;
    height: 50px;
    margin-left: 10px;
    display: inline-block;
    font: 2em sans-serif;
    text-decoration-color: yellow;
    color: white;
}
.wrapper .audioplayer div > form ::placeholder{
    color: #4e4e50;
}

.wrapper .audioplayer div > form >button{
    margin-top: 10px;
    background: hsl(338, 18%, 20%);
    display: table-column-group;
    width: 130px;
    height: 50px;
    margin-bottom: 25px;
    margin-left: 20px;
}
#audio-control{
    margin-top: 60px;
    margin-left: 455px;
    display: block;
    /* width: 1200px; */
    background: #4e4e50;
    color: #4e4e50;
}

.wrapper .playlist-div{
    width: 100%;
    margin-left: 200px;
    background: #4e4e50;
    position: fixed;
    height: 100%;
}

.wrapper .audioplayer #play_list> .container-fluid{
    background: #998b91;
    margin-top: 5px;

}